<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upsun.quizz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="https" />
                <data
                    android:host="example.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.payu.custombrowser.PreLollipopPaymentsActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".fill_details_activity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.Product_requests"
            android:exported="true" />
        <activity
            android:name=".ReferActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AddReferAmount"
            android:exported="false" />
        <activity
            android:name=".admin.activities.SectionActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrizeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnswersActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewAnswerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AllQuizCategoryActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddQuizCategoryActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.PointsAdminActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.UpdateRewardsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManualRewardsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizStatusActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.ApproveRequestActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.EnqueriesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBankDetailsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PointsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AllPointsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddPointsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".networkconnectivity.NoInternetConnection"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".networkconnectivity.NetworkError"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.ViewParticipentsActvity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminJoinQuizActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddInstuctionActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AllInsructionActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewResultsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructionActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddAdminRewardsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.EditQuizActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.QuizQuestionActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AdminAllQuizActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.WithdrawRequests"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddInitialWallet"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.UserDetailsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WithdrwHistry"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WithdrawRequest"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppUpdaterActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AllQuestionActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddQuestionsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionTheme" />
        <activity
            android:name=".admin.activities.AddInfoPage"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionTheme" />
        <activity
            android:name=".AdminLoginActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayQuizActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayQuizsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizEnd"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllInfoActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinQuizActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizListActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalletActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MobileVerification"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionTheme" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivty"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".admin.activities.HomeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionTheme" />
        <activity
            android:name=".admin.activities.AllProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activities.AddProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDetailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".utils.MyService"
            android:exported="false" />
        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_black_24dp" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9030161066631347~5744614565" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>